<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon">

    <title>MPI ONLINE COMPILER</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/jumbotron-narrow.css" rel="stylesheet">
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/editor">Editor</a></li>
            <li role="presentation" class="active"><a target="_blank" href="http://sirius.utp.edu.co/sirius/">SIRIUS</a></li>
        </nav>
        <h3 class="text-muted">MPI Online compiler</h3>
      </div>

      <div class="jumbotron">
        <h1>MPI Online compiler</h1>
        <h2>Welcome!</h2>
      </div>

      

      <footer class="footer">
        <p>&copy; Sirius "Cluster" 2015</p>
      </footer>

    </div>
  </body>
</html>