<!DOCTYPE html>
<html>
    <head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <meta name="description" content="">
    <meta name="author" content="">
        
    <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../js/bootstrap.js"></script>    
    <link rel="stylesheet" href="../css/style.css">
    </head>
    
    <script>
          
       
    
   
    function validateForm() { // TODO : best way to do this: 
        alert(document.forms["myform"].getElementsByTagName("input"));
        var x = document.forms["myform"]["username"].value;
        if (x == null || x == "") {
            alert("UserName must be filled out");
            return false;
        }
        
         var x = document.forms["myform"]["password"].value;
        if (x == null || x == "") {
            alert("password must be filled out");
            return false;
        }
        
         var x = document.forms["myform"]["email"].value;
        if (x == null || x == "") {
            alert("email must be filled out");
            return false;
        }
        
         var x = document.forms["myform"]["name"].value;
        if (x == null || x == "") {
            alert("Name must be filled out");
            return false;
        }
        
         var x = document.forms["myform"]["lastname"].value;
        if (x == null || x == "") {
            alert("Last Name must be filled out");
            return false;
        }

   }
    </script>
    
    <body>
        <div class="container">
            <h1>Register Page</h1><p class="lead">Say something worthwhile here.</p>
            <h3 id="disp"></h3>
            <br>
            <form id="myform" role="form" action="/register" method="post" onsubmit="return validateForm()" style="max-width: 300px;">
                <div class="form-group"><input name="username" placeholder="Enter Username" class="form-control" type="text">
                </div>
                <div class="form-group"><input name="password" placeholder="Password" class="form-control" type="password">
                </div>
                <div class="form-group">
                    <input name="email" placeholder="Enter Email" class="form-control" type="text">
                </div>
                
                  <div class="form-group">
                    <input name="name" placeholder="Enter Name" class="form-control" type="text">
                </div>
                             
                 <div class="form-group">
                    <input name="lastname" placeholder="Enter Last Name" class="form-control" type="text">
                </div>
                
                <button type="submit" class="btn btn-default">Submit</button>&nbsp;<a href="http://localhost:3000/">
                <button type="button" class="btn btn-primary">Cancel</button>
                </a>
            </form>
            <br>
            <script>
                document.getElementById("disp").innerHTML=<%- JSON.stringify(info) %>;
            </script>
        </div> 
   </body>
        
</html>

<!--TODO: form validator -->