<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon">

    <title>Text Editor</title>

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="../css/jumbotron-narrow.css" rel="stylesheet">
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='../css/codemirror.css'>
    <link rel="stylesheet" href="../css/tabsprimary.css">
    <link href="../css/pillscolor.css" rel="stylesheet">

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src='../js/clickcompile.js'></script>
    <script src='../js/codemirror.js'></script>
    <script src='../js/clike.js'></script>
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="/logout">Logout</a></li>
        </nav>
        <h3 class="text-muted">MPI Compiler</h3>
      </div>

      <div class="jumbotron">

          <form id="form" method="post" action="/editor" accept-charset="utf-8">
            <div class="panel with-nav-tabs panel-primary">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1primary" data-toggle="tab">Text editor</a></li>
                            <li><a href="#tab2primary" data-toggle="tab">Compiler settings</a></li>
                            <li><a href="#tab3primary" data-toggle="tab">HTCondor Outputs</a></li>
                        </ul>
                </div>
                <div class="panel-body">
                        <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1primary">
                        <textarea id='test' name="codebox" rows='10' class='form-control textcontainer'></textarea>
                            <script>
                              var editor = CodeMirror.fromTextArea(document.getElementById('test'),{
                                lineNumbers: true,
                                showMarkdownLineBreaks: true,
                                lineWrapping: true,
                                matchBrackets: true,
                                indentUnit: 2,
                                smartIndent: true,
                                tabSize: 2,
                                mode: 'text/x-csrc'
                                });
                                editor.setValue(<%- JSON.stringify(message.codebox)%>);
                            </script>
                        </div>

                        <div class="tab-pane fade" id="tab2primary">
                        <h3>Here you can choose your compiling options</h3>
                        <label>Graphic card - Processor - HTCondor</label>
                        <br>
                        <label class="checkbox-inline">
                        <input type="checkbox" id="CPU" name="cpu" > CPU
                        </label>
                        <br>
                        <label class="checkbox-inline">
                        <input type="checkbox" id="MPI"  name="mpi" > MPI
                        </label>
                        <br>
                        <br>            
                        <label>How many machines do you want to use? (for unchecked MPI option)</label>
                        <select id="select" name="select" class="form-control">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                        </div>

                        <div class="tab-pane fade" id="tab3primary">
                        <textarea id='condorout' name="outbox" rows='10' class='form-control textcontainer'></textarea>
                        </div>

                    </div>
                </div>
              </div>
            <textarea readonly id='infoarea' name="logs" rows="5" class='form-control textcontainer' value="logs"></textarea>
            <br>
            <button class="btn btn-lg btn-success" id = "runcodebtn">Run and Compile</button>
        </form>
      </div>

        <script>
                // Set all values to "save" of render
              document.getElementById("CPU").checked=<%- JSON.stringify(message.cpu)%>;
              document.getElementById("infoarea").value=<%- JSON.stringify(logs)%>;
              document.getElementById("MPI").checked=<%- JSON.stringify(message.mpi)%>;
              document.getElementById("select").value=<%- JSON.stringify(message.select)%>;
        </script>

      <footer class="footer">
        <p>&copy; Sirius "Cluster" 2015</p>
      </footer>
    </div>
  </body>
</html>
