.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
        color: white;
        background-color: #51A351;
    }

        .nav-pills > li.active > a:hover {
            background-color: #0088CC;
            color:white;
        }
